@import "../common.less";
body{
  background: @c79c3d2;
  padding:0;
  margin: 0;
  color: @c143352 ;
  .ff;
}
.body{
  .ma;.mt20;
  background: @cd9eef2;
  .FSp(15px);
  .list{
    .ul;
  }
}
@media screen and (max-width: @baseW){//1000=<
  .body{

  }
}