@import "../common.less";
body{
  background: @cf5;
  padding:0;
  margin: 0;
  color: @baseC ;
  .ff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #c0c0c0;
}
.body{
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px){//1000=<
  body{
    background-color: #000011;
    background-position: 0 0;
    background: #ffff00;
  }
  .body{
    width: 100%;
  }
}