@cf5:#f5f5f5;
@cff:#FFF;
@c66:#666;
@baseC:#333333;
.ff(){
  font-family: "Microsoft Yahei","微软雅黑",Arial,STHeiti,Tahoma,Helvetica;
}
.box(){
  box-shadow: 0 1px 3px rgba(3,3,3,.3);
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#efefef',Direction=180,Strength=3);
}
.fs25(){font-size: 25px;}
.fs12(){font-size: 12px;}
.fs14(){font-size: 14px;}
.fs16(){font-size: 16px;}
.fs18(){font-size: 18px;}
.fs20(){font-size: 20px;}
.fs22(){font-size: 22px;}
.fs24(){font-size: 24px;}

.fl(){float: left;}

.lh50(){line-height: 50px;}

.db(){display: block;}

.tc(){text-align: center;}
.tr(){text-align: right;}

.ma(){margin: 0 auto;}
.p0(){padding: 0;}

.clear(){clear: both;}
.clearfix:after{clear:both;content: " ";display: block;height: 0;}
.clearfix{zoom: 1;}