/* 重置（reset）和默认（base）（tags）：消除默认样式和浏览器差异，并设置部分标签的初始样式，以减少后面的重复劳动！ */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0}header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left;font-weight:normal}html,body,fieldset,img,iframe,abbr{border:0}i,cite,em,var,address,dfn{font-style:normal}[hidefocus],summary{outline:0}li{list-style:none}h1,h2,h3,h4,h5,h6,small{font-size:100%}sup,sub{font-size:83%}pre,code,kbd,samp{font-family:inherit}q:before,q:after{content:none}textarea{overflow:auto;resize:none}label,summary{cursor:default}a,button{cursor:pointer}h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold}del,ins,u,s,a,a:hover{text-decoration:none}body,textarea,input,button,select,keygen,legend{font-family:"Microsoft YaHei","MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size:14px;color:#333}body{background:#fff}a,a:hover{color:#535353}input:focus,a:focus,select,li{outline:0}
/* 请不要修改此样式 */

/** 全局通用样式 */

/** a */
a:link{}
a:ACTIVE{}
a:HOVER{}
/** fs */
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs24{font-size: 24px;}
.fs26{font-size: 26px;}
.fs36{font-size: 36px;}
.fs48{font-size: 48px;}
/** fc */

/**pointer*/
.cpointer{cursor: pointer;}
.cdefault{cursor: default;}

/**margin padding*/
.mt20{margin-top: 20px;}
.p{padding: 5px;}

/** bgc */
.bgeee{background: #EEE;}

/** btn */

/** radius */
.frad{border-radius:3px;}
/* box-shadow*/
.bs{}
/* animate*/

.fboder{border: 1px solid #b3b3b3;}
.frds{border: 1px solid #b3b3b3;}
.fbs{box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;}
